.profile__title {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  grid-area: title;
  max-width: 550px;
}

@media screen and (max-width: 1050px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 235px;
    justify-self: center;
    margin-left: 25px;
  }
}
