.popup__close-button {
  background-image: url(../../../images/сlose-icon.svg);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: rgba(0, 0, 0, .0);
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  cursor: pointer;
  transition: opacity .5s ease;
}

.popup__close-button:hover {
opacity: 60%;
}

@media screen and (max-width: 1050px) {
  .popup__close-button {
    background-image: url(../../../images/сlose-icon-mobile.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
